.row {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
  &:last-child {
    margin-bottom: 0.1rem;
  }
  .col {
    flex-grow: 1;
  }
  @media screen and (max-width: 575px) {
    flex-direction: column;
  }
}
